<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Edit Profile</h3>
            
            <div class="txtbox3">
                <label for="name">Name:</label>
                <input type="text" size="50" name="editprofile_name">
                <br><br>

                <label for="name">Address:</label>
                <input type="text" size="50" name="editprofile_address">
                <br><br>


                <label for="name">Mobile:</label>
                <input type="text" size="50" name="editprofile_mobile">
                <br><br>

                <label for="name">Email:</label>
                <input type="text" size="50" placeholder="Your email id will be your username" name="editprofile_email"
                    id="emailid">
                    <span id="emailexists"></span>
                <br><br>

                <label for="name">Gender:</label>
                <input type="radio" name="editprofile_gender" id="Male" value="male"><label for="">Male</label>
                <input type="radio" name="editprofile_gender" id="Female" value="female"><label for="">Female</label>
                <br><br>



                <!-- <label for="name">Password:</label>
                <input type="password" size="50" name="c_password">
                <br><br>

                <label for="name">Confirm Password:</label>
                <input type="text" size="50" name="c_confirmpassword">
                <br><br> -->

                <!-- <label for="name">Image Upload:</label>
                <input type="file" name="c_image" id="customerimage">
                <br><br> -->

                <button type="button" class="btn btn-primary">Reset</button>
                <button type="submit" class="btn btn-success" value="Submit" name="c_signup">Submit</button>
                <br><br>  

</body>
</html>